<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h2>Liste des sondages</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <ul *ngFor="let survey of surveys">
                    <li>
                        <button mat-raised-button type="button" (click)="onViewSurvey(survey)">
                            {{ survey.getTitle() }}
                            {{ survey.getName() }}
                            {{ survey.getSubject() }}
                        </button>
                        <button mat-icon-button type="button" color="warn" (click)="onDeleteSurvey()">
                            <mat-icon>remove_circle</mat-icon>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="button-row col-xs-12">
                <button mat-flat-button color="accent" routerLink="survey/new">Nouveau sondage</button>
            </div>
        </div>
    </div>
</div>