<div class="row">
    <div class="col-xs-12">
        <h2>Liste des sondages:</h2>
        <div>
            <mat-list role="list">
                <mat-list-item role="listitem">{{ survey.title }}</mat-list-item>
                <mat-list-item role="listitem">{{ survey.name }}</mat-list-item>
                <mat-list-item role="listitem">{{ survey.choices }}</mat-list-item>
            </mat-list>
        </div>

        <div class="button-row">
            <button mat-flat-button color="primary" routerLink="survey/new">Retour</button>
        </div>
    </div>
</div>