<div class="row">
    <div class="col-xs-12">
        <h2>Votez pour le sondage</h2>

        <div class="row">
            <!-- <mat-tab-group mat-align-tabs="center">
                <mat-tab label="First">Content 1</mat-tab>
                <mat-tab label="Second">Content 2</mat-tab>
                <mat-tab label="Third">Content 3</mat-tab>
            </mat-tab-group> -->
        
            <div class="col-sm">
                <h3>{{ survey.title }}</h3>
            </div>
            <div class="col-sm">
                <h3>{{ survey.name }}</h3>
            </div>
            <div class="col-sm">
                <h3>{{ survey.subject }}</h3>
            </div>
        </div>

        <form [formGroup]="choicesForm" (ngSubmit)="onSubmitChoices()">
            <div formArrayName="choices">
                <div class="form-group" *ngFor="let formGroup of getChoices().controls; let i = index">
                    <div class="row" [formGroup]="formGroup">
                        <div class="col-sm">
                            <mat-form-field>
                                <mat-label for="participantName">Votre nom</mat-label>
                                <input matInput type="text" class="form-control" formControlName="name">
                            </mat-form-field>
                        </div>

                        <div class="button-row col-sm">
                            <button mat-icon-button type="button" 
                                [color]="formGroup.value.choice ? 'primary' : ''"
                                (click)="onToggleYes(formGroup)" class="form-control">
                                <mat-icon>thumb_up_alt</mat-icon>
                            </button>
                        </div>

                        <div class="button-row col-sm">
                            <button mat-icon-button type="button"
                                [color]="formGroup.value.choice === false ? 'warn' : ''" 
                                (click)="onToggleNo(formGroup)"
                                class="form-control">
                                <mat-icon>thumb_down_alt</mat-icon>
                            </button>
                        </div>

                        <div class="button-row col-sm">
                            <button mat-icon-button type="button"
                                color="warn"
                                class="form-control"
                                (click)="onRemoveChoice(i)">
                                <mat-icon>remove_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="button-row col-sm">
                    <button mat-flat-button color="primary" type="button" (click)="onAddChoice()">
                        Ajouter un vote
                    </button>
                </div>
    
                <div class="button-row col-sm">
                    <button mat-flat-button color="warn" routerLink="survey/new">Retour</button>
                </div>
    
                <div class="button-row col-sm">
                    <button mat-flat-button color="accent" type="submit" 
                        [disabled]="choicesForm.invalid">Enregistrer les choix</button>
                </div>
            </div>
        </form>
    </div>
</div>